* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Ubuntu, Roboto, Helvetica, system-ui, monospace,
    sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.87);
  border-bottom: 3px solid rgba(0, 0, 0, 0.92);
  color: #ffffff;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

.module {
  border-radius: 40px;
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 12px;
  color: #ffffff;
}

#window {
  margin: 0 4px;
}

#clock {
  background-color: #64727d;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #f1c40f;
  color: #000000;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}
